@import '../styles/variables';
@import '../styles/mixins';

.navContainer {
    padding: 25px;

    .current {
        a{
            color: $secondary-color !important;
        }
    }
    a{
        color: $light-color !important;
        font-size: 18px;
        font-weight: 600;
    }

    a:hover {
        color: $secondary-color !important;
        @include easeout;
    }
}