
// ************************** Color Palate *********************************

$primary-color: green;
$secondary-color: #eece1a;
$background-color: #444;
$light-color: #fff;
$image-overlay-color: #00aaaa;

$show-home-image: true;

// ************************** Images ***************************************

$home-image: url(./images/background.jpg);